* {
    margin: 0;
    padding: 0;
}

body {
    display: block; 
    height: 100vh;
}

.main_title {
    text-align: center;
    padding: 30px;
    background-color: rgb(249, 249, 96);
}

h1:hover {
    text-shadow: 0 0 3px cyan, 0 0 5px yellow;
}

h2:hover {
    text-shadow: 0 0 3px cyan;
}

.top-container {
    margin-right: 0;
    margin-left: 0;
    display: inline-block;
}

.menu-title {
    text-align: center;
    padding: 30px;
    background-color: rgb(103, 250, 132);
    margin: 10px;
}

a {
    text-decoration: none;
}


.drinks {
    text-decoration: none;
    display: inline-block;
}

li:hover {
    font-size: larger;
}

#list {
   
    
}

p {
    
    
}

.DM, .JW, .JS {
    border-style: 2px solid black;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.DM {
    background-color: rgb(188, 231, 216);
}

.JW {
    background-color: rgb(207, 113, 113);
}

.JS {
    background-color: silver;
}

.main-menu {
    display: inline-block;
}

main {
    display: flex;
    flex-direction: column;
}
/* Hover effect on each drink item title? Maybe glitch effects? */