* {
    margin: 0;
    padding: 0;
    
}

body {
    background-image: url("./Images/cyberpunk_2077_afterlife_wallpaper_1920x1080_by_derzelaz_deariyz-fullview.jpg");
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}

.main_title {
    text-align: center;
    padding: 30px;
    background-color: rgb(249, 249, 96, 0.8);
    margin: auto;
    width: 400px;
    border-radius: 25px;
    margin-bottom: 50px;
    margin-top: 30px;
    color: rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0 0 5px cyan;
    box-shadow: 0 0 5px white;
}

h1:hover {
    text-shadow: 0 0 3px cyan, 0 0 5px yellow;
}

h2:hover {
    text-shadow: 0 0 3px cyan;
}

.top-container {
    margin-right: 0;
    margin-left: 0;
    display: inline-block;
}

.menu-title {
    text-align: center;
    padding: 30px;
    background-color: rgb(103, 250, 132,0.8);
    width: 290px;
    margin: auto;
    border-radius: 25px;
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 5px cyan;
    box-shadow: 0 0 5px white;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}


.drinks {
    text-decoration: none;
    display: inline-block;
}

li {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 15px;
    font-size: 20px;
}

li:hover {
    font-size: 25px;
}

#list {
   
    
}

p {
    color: white;
    
}

.DM, .JW, .JS {
    border-style: 2px solid black;
    margin: auto;
    padding: 30px;
    width: 500px;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 20px;
    text-shadow: 0 0 5px cyan;
    box-shadow: 0 0 5px white;
}

.DM {
    background-color: rgb(188, 231, 216,0.8);
}

.JW {
    background-color: rgb(207, 113, 113,0.8);
}

.JS {
    background-color: rgb(196, 185, 185,0.8);
}

.main-menu {
    display: inline-block;
}

main {
    display: flex;
    flex-direction: column;
}
/* Hover effect on each drink item title? Maybe glitch effects? */


